<?js
var data = obj;
var self = this;
?>
<div class="member  member--has-toggle-box">

<details id="toggle-<?js= id ?>" class="toggle-box">
    <summary>
        <h3 class="name" id="<?js= id ?>">
            <span class="name__function-name"><?js= name ?></span><?js= (data.signature ? data.signature : '') + data.attribs ?>
            <a href="#<?js= id ?>">#</a>
        </h3>
    </summary>

    <div class="long">
    <?js if (data.description) { ?>
    <div class="description">
        <?js= data.description ?>
    </div>
    <?js } ?>

    <?js if (data.examples && examples.length) { ?>
        <h4>Example<?js= examples.length > 1? 's':'' ?></h4>
        <?js= this.partial('examples.tmpl', examples) ?>
    <?js } ?>

    <?js if (data.type && data.type.names) {?>
        <h4>Type:</h4>
        <ul>
            <li>
                <?js= self.partial('type.tmpl', data.type.names) ?>
            </li>
        </ul>
    <?js } ?>

    <?js= this.partial('details.tmpl', data) ?>

    <?js if (data.fires && fires.length) { ?>
        <h4>Fires:</h4>
        <ul><?js fires.forEach(function(f) { ?>
            <li><?js= self.linkto(f) ?></li>
        <?js }); ?></ul>
    <?js } ?>

    </div>
</details>

<div class="summary">
    <?js if (data.summary) { ?><?js= summary ?><?js } ?>
</div>

</div>
