<div class="method-filters">
  Show:
  <label>
    <input type="checkbox" id="private-check"/>
      Private
  </label>

  <label>
    <input type="checkbox" id="protected-check">
      Protected
  </label>

  <label>
    <input type="checkbox" id="inherited-check" />
      Inherited
  </label>

  <label>
    <input type="checkbox" id="deprecated-check" />
      Deprecated
  </label>
</div>

<script src="scripts/method-filters.js"></script>
