<div id="search-container" class="search-container">
  <input type="search" id="lunr-search" class="search-input" role="combobox" aria-autocomplete="list" aria-controls="search-results" aria-expanded="false" aria-activedescendant="selected-search-result" placeholder="Search">
  <ul id="search-results" class="search-results role="listbox"></ul>
</div>
<script src="lunr-data.js"></script>
<script src="scripts/lib/lunr.js"></script>
<script src="scripts/lunrSearch.js"></script>
