<div id="search-container">
  <input type="search" id="lunr-search" placeholder="Search">
  <ul id="search-results"></ul>
</div>
<script src="lunr-data.js"></script>
<script src="scripts/lib/lunr.js"></script>
<script src="scripts/lunrSearch.js"></script>
