/* Main CSS file. */
@import 'lib/normalize.css';
@import 'lib/theme-wikimedia-ui.css';

/* Local imports. */
@import 'elements.css';
@import 'layout.css';
@import 'navigation.css';
@import 'search.css';
@import 'content.css';

/* Theme-wide variables. */
:root {
	/* Font size. */
	--font-size-base: 1rem;
	--font-size-site-title: var( --font-size-base );

	/* Border. */
	--border-color-light: var( --background-color-interactive );

	/* Size. */
	--min-size-header: 4rem;
	/* 2x header spacing + height of the search input. */
	--size-header: calc( calc( var( --spacing-header ) * 2 ) + calc( var( --font-size-base ) * var( --line-height-medium ) ) + calc( var( --spacing-vertical-search-input ) * 2 ) + calc( var( --border-width-base ) * 2 ) );
	/* Nav button height + 3x header spacing + height of the search input. */
	--size-header--mobile: calc( var( --size-nav-button ) + calc( var( --spacing-header ) * 3 ) + calc( var( --font-size-base ) * var( --line-height-medium ) ) + calc( var( --spacing-vertical-search-input ) * 2 ) + calc( var( --border-width-base ) * 2 ) );
	--size-nav-button: 1.25rem;

	/* Spacing. */
	--spacing-header: calc( var( --min-size-header ) / 4 );

	--spacing-horizontal-nav-item-small: 1rem;
	--spacing-horizontal-nav-item-large: 2rem;

	--spacing-vertical-search-input: 0.25rem;
	--spacing-horizontal-search-input: 0.5rem;
}
