/* Additional styles, not included in Wikimedia Design Style Guide. */
/* FIXME: Remove as soon as DSG has integrated it */
code,
.name,
.params .name,
.props .name,
.signature {
	font-family: 'SFMono-Regular', 'Consolas', 'Liberation Mono', 'Menlo', 'Courier New', monospace;
	font-size: 1.4rem;
}

pre {
	white-space: pre-wrap;
	word-wrap: break-word;
}

.class-description {
	font-size: 130%;
	line-height: 140%;
	margin-bottom: 1em;
	margin-top: 1em;
}

.class-description:empty {
	margin: 0;
}

.variation {
	display: none;
}

.signature-attributes {
	font-size: 60%;
	color: #a2a9b1;
	font-style: italic;
	font-weight: lighter;
}

.ancestors,
.attribs {
	color: #72777d;
}

.ancestors a,
.attribs a {
	color: #72777d !important; /* stylelint-disable-line declaration-no-important */
	text-decoration: none;
}

.clear {
	clear: both;
}

.important {
	color: #d33;
	font-weight: bold;
}

.yes-def {
	text-indent: -1000px;
}

.type-signature {
	color: #72777d;
}

.details {
	margin-top: 14px;
	border-left: 2px solid #eaecf0;
}

.details dt {
	width: 120px;
	float: left;
	padding-left: 10px;
	padding-top: 6px;
}

.details dd {
	margin-left: 70px;
}

.details ul {
	list-style: none none;
	margin: 0;
}

.details li {
	margin-left: 30px;
	padding-top: 6px;
}

.details pre.prettyprint {
	margin: 0;
}

.details .object-value {
	padding-top: 0;
}

.description {
	margin-bottom: 2em;
	margin-top: 0;
}

.code-caption {
	font-style: italic;
	font-size: 107%;
	margin: 0;
}

.source {
	width: 80%;
	border: 1px solid #eaecf0;
	overflow: auto;
}

.prettyprint.source {
	width: inherit;
}

.source code {
	background-color: #fff;
	color: #444;
	display: block;
	margin: 0;
	padding: 4px 12px;
	font-size: 100%;
	line-height: 18px;
}

.prettyprint code span.line {
	display: inline-block;
}

.prettyprint.linenums {
	padding-left: 70px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.prettyprint.linenums ol {
	padding-left: 0;
}

.prettyprint.linenums li {
	border-left: 3px solid #eaecf0;
}

.prettyprint.linenums li * {
	-webkit-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	user-select: text;
}

.prettyprint.linenums li.selected,
.prettyprint.linenums li.selected * {
	background-color: #ffffe0; /* CSS `lightyellow` */
}

.params {
	background-color: #f8f9fa;
	color: #202122;
	margin: 1em 0;
	border: 1px solid #a2a9b1;
	border-collapse: collapse;
}

.params > tr > th,
.params > tr > td,
.params > * > tr > th,
.params > * > tr > td {
	vertical-align: top;
	border: 1px solid #a2a9b1;
	padding: 0.2em 0.4em;
}

.params > tr > th,
.params > * > tr > th {
	background-color: #eaecf0;
	text-align: center;
}

.params .name,
.props .name,
.name code {
	color: #444;
}

.params td.description > p:first-child,
.props td.description > p:first-child {
	margin-top: 0;
	padding-top: 0;
}

.params td.description > p:last-child,
.props td.description > p:last-child {
	margin-bottom: 0;
	padding-bottom: 0;
}

.disabled {
	color: #72777d;
}

/* override navbox styling from parent which prevents collapsing open li */
.nav--main .nav__item > a {
	cursor: pointer;
}

.nav--main .is-on > a {
	pointer-events: inherit;
}

/* keep navbox from overflowing */
.nav--main {
	overflow-x: auto;
}

.summary {
	/* keep same margin-top as description */
	margin-top: 0;
	/* lesser margin-bottom than description to keep page compact */
	margin-bottom: 0;
}

/* collapse boxes, in pure CSS */
/* inspired by https://basicuse.net/articles/pl/textile/html_css/creating_a_toggle_box_to_collapse_or_expand_content_using_only_css3 */
.toggle-box + label + h4 {
	display: inline-block;
}

.toggle-box ~ .summary {
	display: block;
}

.toggle-box ~ .long {
	display: none;
}

.toggle-box:checked ~ .summary {
	display: none;
}

.toggle-box:checked ~ .long {
	display: block;
}

/* checkbox theme */
input[ type='checkbox' ].toggle-box {
	position: absolute;
	z-index: -1000;
	left: -1000px;
	overflow: hidden;
	clip: rect( 0 0 0 0 );
	height: 1px;
	width: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
}

input[ type='checkbox' ].toggle-box + label {
	padding-left: 29px;
	height: 24px;
	display: inline-block;
	line-height: 24px;
	background-repeat: no-repeat;
	background-position: 0 0;
	font-size: 24px;
	vertical-align: middle;
	cursor: pointer;
	background-image: url( ./checkbox-style.png );
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

input[ type='checkbox' ].toggle-box:checked + label {
	background-position: 0 -24px;
}

/* override style guide */
#header { /* stylelint-disable-line selector-max-id */
	background-color: #eaecf0;
	z-index: 100;
}

.site__title {
	text-transform: none;
}
