/* stylelint-disable selector-max-id */

#search-container {
	float: right;
	width: 45rem;
}

#lunr-search {
	border: 1px solid #c8ccd1;
	box-sizing: border-box;
	padding: 1rem;
	width: 100%;
}

#search-results {
	display: none;
	background-color: #fff;
	position: fixed;
	margin: 0;
	padding: 0;
	border: 1px solid #c8ccd1;
	border-bottom: 0;
	line-height: 1.5;
	max-height: calc( 100vh - 6.4rem );
	overflow: auto;
}

#search-results li {
	list-style: none none;
	margin: 0;
	border-bottom: 1px solid #c8ccd1;
}

#search-results dd {
	color: #000;
	margin-left: 1rem;
}

#search-results a {
	display: block;
	padding: 1rem;
}

#selected-search-result,
#search-results a:hover {
	background: #eaecf0;
	text-decoration: none;
}

/* stylelint-enable */
