/* stylelint-disable selector-max-id, unit-blacklist */

#search-container {
	float: right;
	width: 45rem;
}

#lunr-search {
	padding: 1rem;
	width: 100%;
}

#search-results {
	background-color: #fff;
	position: fixed;
	margin: 0;
	padding: 0;
	border: 1px solid #c8ccd1;
	border-bottom: 0;
	line-height: 1.5;
}

#search-results li {
	list-style: none none;
	margin: 0;
	border-bottom: 1px solid #c8ccd1;
}

#search-results dd {
	color: #000;
	margin-left: 1rem;
}

#search-results a {
	display: block;
	padding: 1rem;
}

#selected-search-result,
#search-results a:hover {
	background: #eaecf0;
	text-decoration: none;
}

/* stylelint-enable */
